.mainBars rect{
    shape-rendering: auto;
    fill-opacity: 0;
    stroke-width: 1px;
    stroke: rgb(0, 0, 0);
    stroke-opacity: 0;
}
.subBars{
    shape-rendering:crispEdges;
}
.edges{
    fill-opacity:0.5;
	stroke-width: 0px
	stroke: rgb(0, 0, 0)
}